local_config.json
packer_vars.json
work/
work/*

.vagrant

# Random python stuff
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
target/
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
